<header>

    <div class="header-image-container">
      <img src="https://cdn.shopify.com/s/files/1/1170/3026/products/BitcoinPlain_logo_480x.png?v=1501492233" alt="Orange Casino Chip">
    </div>

    <h1 class="site-title"><a href="#">Beaver Blackjack</a></h1>
    
</header>
