<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"></script>
    <script src="/scoreCardTemplate.js"></script>

    <meta charset="utf-8">
    <title>Beaver Blackjack</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="index.js" charset="utf-8" defer></script>
  </head>
  <header>
    {{>header}}
  </header>
  <body>
    <nav class="navbar">
    <ul class="navlist">
      <div class="nav-element">
        <li class="navitem"><a href="/leaderboard">LeaderBoard</a></li>
      </div>
      <div class="nav-element">
        <li class="navitem"><a href="/rules">Rules</a></li>
      </div>
      <div class="nav-element">
        <li class="navitem right"><a href="/play">Play</a></li>
      </div>
    </ul>
    </nav>
    {{{body}}}
  </body>
</html>
