<body>

  <header>
    {{>header}}
  </header>

    <main class="content">
      <aside class= "title">
        <h2>Welcome to Black Jack</h2>
      </aside>
      <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/leaderboard">LeaderBoard</a></li>
        <li class="navitem"><a href="/rules">Rules</a></li>
        <li class="navitem right"><a href="/play">Play</a></li>
      </ul>
    </nav>

      <img src = https://i.ytimg.com/vi/-9YGKFdP6sY/hqdefault.jpg>
      </img>



    </main>
</body>
