<body>
    <main class="content">
      <aside class= "title">
        <h2>Welcome to Black Jack</h2>
      </aside>

      <img src = https://i.ytimg.com/vi/-9YGKFdP6sY/hqdefault.jpg>
      </img>
    </main>
</body>
