<body>

{{#if display}}
    <section id = "cards">
      {{> scoreCard singlepost}}
    </section>

{{else}}

<section id="cards">
    {{#each scoreData}}
      {{>scoreCard}}
    {{/each}}
</section>

{{/if}}
</body>
