<body>
  <div class= game-content>

      <div id="track-player" class="balance-box">
        <p>Player Balance: 500</p>
      </div>

      <div class= "betting-container">
        <div class="bet-input-element">
          <input type= "text" name="bet-box" id="bet-box" class= "bet-input">
          <button type= "button" id="submit-bet" class="action-button">Bet!</button>
        </div>
      </div>




      <div class="textupdates" id="textUpdates">
          Submit a bet to begin!
      </div>

      <div class="buttonbox hidden" id="buttonBox">
          <button alt="hit" id="hit">Hit</button>
          <button alt="stay" id="stay">Stay</button>
      </div>
      <table>
          <tr>
              <th id="phand">
                  Your Hand
              </th>
              <th id="dhand">
                  Dealer's Hand
              </th>
          </tr>
          <tr>
              <td id="pcards">No cards dealt yet</td>
              <td id="dcards">No cards dealt yet</td>

          </tr>
      </table>
      <div id="tracker" class="buttonbox">
          <p>Wins: 0 Draws: 0 Losses: 0</p>
      </div>
      <div class="buttonbox">
          <p><span class="bold" > Suggestion: </span></p>
          <span id="choice" class="bold redcard"></span>
      </div>

      <div class= "cash-out-button-container">
        <button type="button" id="cash-out-button" class="action-button">Cash Out</button>
      </div>
</body>
