  <body>
  <main class="Rules-board">
    <div class = "explanation">
      <p> The goal of the game is to try and get as close as you can to get to 21 without going over. If you go over 21 you bust and lose your bet. You will be playing against the dealer.
      </p>
    </div>
    <div class = "rules-list">
      <div id = startlist>
    <ol type =1>Rules:
      </div>
      <div class = listitems>
      <li> </li>
      <li> 1. You will start with $500, you can throw any amount of a bet you want before each round as long as you have the balance to do so. </li>
      <li> 2. To play the game, you will first get two cards from the dealer. </li>
      <li> 3. After getting these two cards, you will bet on your cards or fold because you don't want to bet. </li>
      <li> 4. If bet you can then either decide to hit or hold. </li>
      <li> 5. If you hit, you will then recieve another card, if you go over 21 you will bust, but if not you can either hit or hold. </li>
      <li> 6. When your either satisfied with your cards or busted then the dealer will go. </li>
      <li> 7. Once you feel satisfied with the money you have made you may "cash out" and your score will go on our leaderboard</li>
    </div>
   </ol>
 </div>
   <img src = https://image.shutterstock.com/image-vector/have-fun-rainbow-triangular-letters-260nw-655704427.jpg>
 </img>
  </main>
</body>
