  <body>
  <main class="Rules-board">
    <div id = titlerules>
    <h> These are the rules and explanation of the game: <h1>
    </div>
    <div class = "explanation">
      <p> The goal of the game is to try and get as close as you can to get to 21. Without going over 21 because then you bust and loose. You will be playing against the dealer.
      </p>
    </div>
    <div class = "rules-list">
      <div id = startlist>
    <ol>These are the rules</ol>
      </div>
     <li> To play the game, you must first get two cards from the dealer </li>
      <li> After getting these two cards, you will decide to either hit or hold </li>
    </div>
  </main>
</body>
