  <body>
  <main class="Rules-board">
    <div class = "explanation">
      <p> The goal of the game is to try and get as close as you can to get to 21. Without going over 21 because then you bust and loose. You will be playing against the dealer.
      </p>
    </div>
    <div class = "rules-list">
      <div id = startlist>
    <ol type =1>These are the rules:
      </div>
      <div class = listitems>
      <li> You will start with 500$, you can throw any amount of a bet you want before each round. </li>
      <li> To play the game, you will first get two cards from the dealer. </li>
      <li> After getting these two cards, you will bet on your cards or fold because you don't want to bet. </li>
      <li> If bet you can then either decide to hit or hold. </li>
      <li> If you hit, you will then recieve another card, if you go over 21 you will bust, but if not you can either hit or hold. </li>
      <li> When your either satisfied with your cards or busted then the dealer will go. </li>
    </div>
   </ol>
 </div>
   <img src = https://image.shutterstock.com/image-vector/have-fun-rainbow-triangular-letters-260nw-655704427.jpg>
 </img>
  </main>
</body>
