
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

header {
  background-color:rgb(0,0,112);
  display: flex;
  align-items: center;
  position: relative;
}
header a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #f67811;
}

.losers {
  font-size: 30px;
}
.loser-card {
  margin: 5px;
}
.cards {
  display: inline-flex;
  align-items: center;
}
.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.card-contents {
  border-radius: 50%;
  border: 2px solid black;
  background-color: gold;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-image-container{
  align-items: center;
}
.post-image-container img{
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
}
.scorecard-info-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.site-title {
  color: #454545;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 10px;
}

.img{
  float:right;
  right:0px;
  margin:0px;
}


.navbar {
  display: flex;
  border-width: 2px;
  background-color:rgb(0,0,112);
  font-size: 25px;
}

.navlist {
  display: flex;
  margin: 10px;
}

.navitem {
  display: flex;
  background-color: #ea973d;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}

.player-data-element{
  display:flex;

}
#player-score-header{
  position: absolute;
  top:25px;
}

#player-name-input{
  margin-right: 5px;
}

.player-data-element{
  margin-top: 35px;
  font-size: 30px;
  
}
#player-url-input{
margin-right: 5px;

}

.Rules-board img{
  position: absolute;
  top: 0px;
  right: 0px;
  height:26.7%;

}
.rules-list{

}

.listitems{
    display: inline-block;
    font-size: 25px;
    position: absolute;
    bottom: 37px;
    margin: 10px;
    border: 5px;
}



.navitem:hover {
  ;background-color: rgba(255, 255, 255, 0.18);
  background-color: #D3D3D3;
}

.navitem a {
  display: inline-block;
  color: #454545;
  padding: 10px 20px;
}

.navitem.right {
  float: right;
}


.title{
  font-size: 30px;
  text-align: right;
  display: inline block;

}

.explanation{
    font-size: 20px;
}

#startlist{
    font-size: 35px;
    margin:0px;
    text-align: center;
}

#titlerules{
  font-size:35px;
  text-decoration: underline;
}

.header-image-container img{
  width:100px;

}


.content{
  display: inline-block;

}








.game-content
{
    font-family: Arial, sans-serif;
    font-size: 18px;

}

h1{
    text-align: center;
    color: #2336ac;
}

table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 200px;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    display: table;
    padding: 8px 8px 8px 8px;
}

th
{
    color: #2336ac;
}

div.buttonbox
{
    width: 40%;
    /*background-color: #717171;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px 8px 8px 8px
}

div.balance-box
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px 8px 8px 8px

}

div.textupdates
{
    width: 600px;
    height: 60px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px 8px 8px 8px;
    font-weight: bold;
    /*font-size: larger;*/
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.cool
{
    background-color: #ff0000
}

.hot
{
    background-color: #2336ac
}

.hidden
{
    visibility: hidden
}

.blackcard
{
    font-weight: bold;
}

.bold
{
    font-weight: bold;
}

.redcard
{
    color: red;
    font-weight: bold;
}

li
{
    list-style-type: none;

}

button
{
    font-size: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2px solid #000000; /* black */
    font-weight: bold;
    border-radius: 6px;
}

button#newgame
{
    background-color: green;
    width: 140px;
}


button#hit
{
    background-color: green;
    width: 70px;
}

button#stay
{
    background-color: red;
    width: 70px;
}

#track-player
{
    margin-top: 10px;
    border: 2px solid black;
    background-color: orange;
    border-radius: 50%;
}

#tracker
{
    margin-top: 20px;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}

.betting-container
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px 8px 8px 8px
}

.cash-out-button-container
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px 8px 8px 8px
}

#cash-out-button
{
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: green;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}
#c-o-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#c-o-background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}
.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}

.explanation{
  margin-left: 20px;
  text-align: center;
}
